@import url('https://fonts.cdnfonts.com/css/arquitecta');
@import url(/assets/css/root.css);

body {
    font-family: 'Arquitecta', sans-serif;
}

.light_grey {
    color: #686C6B;
}

.dark_grey {
    color: #040707CC;
}

p,
h2,
h3,
h4 {
    margin-bottom: unset !important;
}

/*===================== Nav-bar================================= */
.nav_btn {
    border: 1px solid #F58505;
    padding: 12px 20px 12px 20px;
    background: #060804;
    transition: all 300ms linear;
}

.nav_btn:hover {
    background: var(--fc-yellow);
}

.nav_btn:hover a {
    color: black !important;
}

.navbar-nav :hover {
    color: #F58505 !important;
}

.gap_35 {
    gap: 35px;
}

.pe_40 {
    padding-right: 40px;
}

.fw-450 {
    font-weight: 450;
}

/* ===================Hero-section================= */
.bg_image {
    background-image: url(/assets/images/bg-sec-1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mt_202 {
    margin-top: 202px;
}

.mt_60 {
    margin-top: 60px;
}

.ps_34 {
    padding-left: 34px;
}

.ps_23 {
    padding-left: 23px;
}

.hero_content {
    gap: 58px;
}

.hero_para {
    max-width: 633px;
}

.hero_title {
    max-width: 540px;
}

.hero_btn {
    padding: 10px 24px;
    margin-top: 40px;
    transition: all 300ms linear;
}

.hero_btn:hover {
    background: var(--fc-yellow);
}

.hero_btn:hover a {
    color: black !important;
}

/* =====================================Section-2=========================================== */
.sec_2_data_numbers {
    gap: 120px;
}

/* ==============================Section-3=========================================== */
.s2_ep {
    font-weight: 900;
    padding: 3px 10px;
}

.s2_ep_box {
    border-radius: 55px;
}

.podcast_card_para {
    max-width: 695px;
}

.read_more {
    border-bottom: 2px solid black;
    max-width: 64px;
}

.read_more:hover {
    transform: scale(1.1);
}

.podcast_cards {
    border: 1px solid #686C6B;
    padding: 16px;
    max-width: 1180px;
}

.podcast_section_btns {
    margin-top: 67px;
    margin-bottom: 73px;
}

.card_play_btn {
    cursor: pointer;
}

.card_play_btn:hover path {
    fill: #F58505;
}

/* ======================================================= */
.podcast_section_btn_1 {
    padding: 10px 24px;
    border: none;
    transition: all 300ms linear;
    background-color: #ff5e00;
}

.podcast_section_btn_2 {
    border: 1px solid #040707CC;
    padding: 10px 24px;
    transition: all 300ms linear;
}

.podcast_section_btn_1:hover {
    background: var(--fc-yellow);
}

.podcast_section_btn_1:hover a {
    color: black !important;
}

.podcast_section_btn_2:hover {
    background: var(--fc-yellow) !important;
    border: none;
}

.podcast_section_btn_2:hover a {
    color: black!important;
}

/* ================================RESPONSIVE======================================= */
@media (max-width:1199.8px) {
    .hero_content {
        flex-wrap: wrap-reverse;
    }

    .gap_35 {
        gap: 5px;
    }

    .pe_40 {
        padding-right: 10px;
    }


    .mt_202 {
        margin-top: 150px;
    }

    .mt_60 {
        margin-top: 90px;
    }
}

@media (max-width:991.9px) {
    .mt_202 {
        margin-top: 90px;
    }

    .mt_60 {
        margin-top: 100px;
    }

    .card_details {
        margin-top: 20px;
    }

    .sec_3_title {
        padding-top: 80px;
        padding-bottom: 50px;
    }
}

@media (max-width:575.9px) {
    .podcast_section_btns {
        margin-top: 50px;
        margin-bottom: 60px;
    }
}

/* ==================================================Raghav============================================ */
* {
    font-family: 'Arquitecta', sans-serif;
    text-decoration: none !important;
    list-style-type: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sec-4-min-vh {
    min-height: 50vh;
}

/* ================================================Section-5============================================ */
.mx-476 {
    max-width: 476px;
    margin: 0 auto;
}

.mx-1006 {
    max-width: 1006px !important;
}

.sec-5-min-vh {
    min-height: 90vh;
}

.first-card {
    box-shadow: 0px 0px 20px 1px #00000012;
    padding: 24px;
}

.mx-433 {
    max-width: 433px;
    margin: 0 auto;
}

.gray {
    color: #686C6B;
}

.slick-track {
    display: flex !important;
    gap: 32px !important;
}

.sec-5 .slick-dots li {
    transition: all 200ms linear;
    width: 8px !important;
    height: 8px;
    background-color: #686C6B;
    border-radius: 100%;
}

.sec-5 .slick-dots .slick-active {
    background-color: #F58505 !important;
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
}

.sec-5 .slick-dots li button::before {
    content: unset !important;
}

.sec-5 .slick-dots {
    bottom: -50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==========================================Section-6================================================================================= */
.sec-6-bg-image {
    background-image: url(/assets/images/sec-6-bg-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-6-min-vh {
    min-height: 70vh;
}

.mx-730 {
    max-width: 730px;
    margin: 0 auto;
}

.email-input {
    border: 1px solid #686C6B;
    background: #1D1D1D;
    color: white;
    padding: 12px 140px 12px 16px;
}

.input-btn {
    padding: 10px 98px;
    border: none;
    transition: all 200ms linear;
    background-color: #F58505;
    color: white;
}

.input-btn:hover {
    background: var(--fc-yellow);
    transition: all 300ms linear;
    color: black !important;
}

.pt-30 {
    padding-top: 30px;
}

/* ================================================Footer================================================================== */
.links:hover a {
    color: #F58505 !important;

    path {
        stroke: #F58505 !important;
    }
}

.links {
    transition: all 200ms linear !important;
}

.footer-circle {
    width: 35px;
    height: 35px;
    background: #2B2B2B;
    border-radius: 50px;
}

/* ================================Max-width==================================== */
@media (max-width:576px) {
    .sm-justify-content-center {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}