@import url('https://fonts.cdnfonts.com/css/arquitecta');
@import url(/assets/css/root.css);

body {
    font-family: 'Arquitecta', sans-serif;
}

p,
h2 {
    margin-bottom: unset !important;
}

/*===================== Nav-bar================================= */
.nav_btn {
    border: 1px solid #F58505;
    padding: 12px 20px 12px 20px;
    background: #060804;
}

.nav_btn:hover {
    border: 1px solid #EEE916;
    transition: all 300ms linear;
}

.nav_btn:hover a {
    color: var(--fc-yellow);
    transition: all 300ms linear;
}

.navbar-nav :hover{
    font-weight: 900;
}

.gap-35 {
    gap: 35px;
}

.pe-40{
    padding-right: 40px;
}

.fw-450 {
    font-weight: 450;
}

/* ===================Hero-section================= */
.bg_image {
    background-image: url(/assets/images/bg-sec-1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mt-202 {
    margin-top: 202px;
}

.mt-60 {
    margin-top: 60px;
}

.ps-50{
    padding-left: 50px;
}

.hero_content{
    gap: 58px;
}

.hero_para{
    max-width: 633px;
}
.hero_title {
    max-width: 540px;
}

.hero_btn {
    padding: 10px 24px;
    margin-top: 40px;
}

.hero_btn:hover {
    background: var(--fc-yellow);
    transition: all 300ms linear;
}

.hero_btn:hover a {
    color: black !important;
    transition: all 300ms linear;
}




@media (max-width:1199.8px) {
    .hero_content{
        flex-wrap: wrap-reverse;
    }

        .gap-35 {
            gap: 5px;
        }

        .pe-40{
            padding-right: 10px;
        }
}